
#vertical-slider {
    text-align:left; 
    width:760px;
    font-family:arial;
}


#vertical-slider .panel { 
    width:300px; 
    height:350px; 
    text-align:left;
    padding: 20px;
}

#vertical-slider > ul {

    margin:0; 
    padding:15px 0px 0 15px; 
    list-style:none; 
    float:left; 
    /*border-right:1px solid #dedede;*/ 
    height:280px;

}

#vertical-slider > ul li {
    margin: 0;
    /*border-right: 1px solid #4785b1;*/
}

#vertical-slider > ul a {
    color: #fff;
    text-shadow: 0px 1px 3px #000;
    text-decoration: none;
    display:block;
    padding-top: 15px;
    padding-bottom: 5px;
    width:150px; 
    height:25px; 
    text-align: center;
    
}
#vertical-slider ul a.active{
    border-right: 1px solid #bbcce2;
    border-left: 1px solid #4785b1;
    border-top: 1px solid #4785b1;
    border-bottom: 1px solid #4785b1;
    margin-right: -1px;

    box-shadow: 
        -10px 8px 18px -10px #6b6f7c, 
        -10px -8px 18px -10px #6b6f7c;

}

/*
#vertical-slider a {
    background: url(button.png) no-repeat 0 0;
    background:#0058a9;
}

#vertical-slider ul a.active {
    background-position: -75px;
    background: #ff6600;
}*/

.panel h2 {
    padding:15px 0 0 0;
    color:#0058a9;
}

.panel p {
    color:#ccc;
    font-weight: lighter;
}

.clear {clear:both}
/*
#verical-slider ul li a{
    background: none;
    border-right: 1px solid #bbcce2;
}*/

#vertical-slider .mask { 
    float:left; 
    width: 550px; 
    height:400px; 
    //margin:20px 0 0 0px; 
    //padding: 10px;
    overflow:hidden;
    border-left: 15px solid transparent;


}