{% extends 'layout.html' %}
{% block content %}
<div class='row'>
	<div class='twelve columns'>
		<div class='row'>
			<div class='six columns centered'>
				<!-- start of the display row -->
				<div class='row collapse'>
					<div class='nine columns'>
						<span class='prefix'>Michael Jeffrey | Queen Creek</span>
					</div>
					<div class='three columns'>
						<a href='#' id='info1' class='button expand postfix alert buttonHiddenInfo'>Approved</a>
					</div>
				</div>
			</div>
			<!-- start of the hidden information -->
			<div class='row hiddenInfo' id='showinfo1' style='display:none;'>
				<div class='twelve columns'>
					<div class='panel'>
						<div class='row'>
							<div class='six columns'>
								<table class='twelve'>
									<tr>
										<td>Make:</td>
										<td id='dbCheckMake'>Honda</td>
									</tr>
									<tr>
										<td>Model:</td>
										<td id='dbCheckModel'>Accord</td>
									</tr>
									<tr>
										<td>Year:</td>
										<td id='dbCheckYear'>2007</td>
									</tr>
								</table>
								<hr/>
								<a data-reveal-id='serviceInfo'>
									<table class='twelve'>
										<tr>
											<td>Service Type:</td>
											<td id='dbCheckServiceType'>Mobile</td>
										</tr>
										<tr>
											<td>Location:</td>
											<td id='dbCheckLocation'>18474 south nowhere</td>
										</tr>
									</table>
								</a>
							</div>
							<div class='six columns'>
								<a data-reveal-id='initInfo'>
									<table class='twelve'>
										<tr>
											<td>Name:</td>
											<td id='dbCheckName'>Michael Jeffrey</td>
										</tr>
										<tr>
											<td>Email:</td>
											<td id='dbCheckEmail'>migpok35@gmail.com</td>
										</tr>
										<tr>
											<td>Phone:</td>
											<td id='dbCheckPhone'>(480)-209-5102</td>
										</tr>
									</table>
								</a>
								<hr/>
								<a data-reveal-id='finalInfo'>
									<table class='twelve'>
										<tr>
											<td>Method of Contact:</td>
											<td id='dbCheckContactMethod'>Phone</td>
										</tr>
										<tr>
											<td>Appointment Time:</td>
											<td id='dbCheckAppointmentTime'>Morning: 9am - noon</td>
										</tr>
									</table>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='row'>
	<div class='twelve columns'>
		<div class=''>
			<div class='row'>
				<div class='six columns centered'>
					<!-- start of the display row -->
					<div class='row collapse'>
						<div class='nine columns'>
							<span class='prefix'>Michael Jeffrey | Queen Creek</span>
						</div>
						<div class='three columns'>
							<a href='#' id='info2' class='button expand postfix success buttonHiddenInfo'>Finished</a>
						</div>
					</div>
				</div>
				<!-- start of the hidden information -->
				<div class='row hiddenInfo' id='showinfo2' style='display:none;'>
					<div class='twelve columns'>
						<div class='panel'>
							<div class='row'>
								<div class='six columns'>
									<table class='twelve'>
										<tr>
											<td>Make:</td>
											<td id='dbCheckMake'>Honda</td>
										</tr>
										<tr>
											<td>Model:</td>
											<td id='dbCheckModel'>Accord</td>
										</tr>
										<tr>
											<td>Year:</td>
											<td id='dbCheckYear'>2007</td>
										</tr>
									</table>
									<hr/>
									<a data-reveal-id='serviceInfo'>
										<table class='twelve'>
											<tr>
												<td>Service Type:</td>
												<td id='dbCheckServiceType'>Mobile</td>
											</tr>
											<tr>
												<td>Location:</td>
												<td id='dbCheckLocation'>18474 south nowhere</td>
											</tr>
										</table>
									</a>
								</div>
								<div class='six columns'>
									<a data-reveal-id='initInfo'>
										<table class='twelve'>
											<tr>
												<td>Name:</td>
												<td id='dbCheckName'>Michael Jeffrey</td>
											</tr>
											<tr>
												<td>Email:</td>
												<td id='dbCheckEmail'>migpok35@gmail.com</td>
											</tr>
											<tr>
												<td>Phone:</td>
												<td id='dbCheckPhone'>(480)-209-5102</td>
											</tr>
										</table>
									</a>
									<hr/>
									<a data-reveal-id='finalInfo'>
										<table class='twelve'>
											<tr>
												<td>Method of Contact:</td>
												<td id='dbCheckContactMethod'>Phone</td>
											</tr>
											<tr>
												<td>Appointment Time:</td>
												<td id='dbCheckAppointmentTime'>Morning: 9am - noon</td>
											</tr>
										</table>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='row'>
	<div class='twelve columns'>
		<div class=''>
			<div class='row'>
				<div class='six columns centered'>
					<!-- start of the display row -->
					<div class='row collapse'>
						<div class='nine columns'>
							<span class='prefix'>Michael Jeffrey | Queen Creek</span>
						</div>
						<div class='three columns'>
							<a href='#' id='info3' class='button expand postfix secondary buttonHiddenInfo'>Scheduled</a>
						</div>
					</div>
				</div>
				<!-- start of the hidden information -->
				<div class='row hiddenInfo' id='showinfo3' style='display:none;'>
					<div class='twelve columns'>
						<div class='panel'>
							<div class='row'>
								<div class='six columns'>
									<table class='twelve'>
										<tr>
											<td>Make:</td>
											<td id='dbCheckMake'>Honda</td>
										</tr>
										<tr>
											<td>Model:</td>
											<td id='dbCheckModel'>Accord</td>
										</tr>
										<tr>
											<td>Year:</td>
											<td id='dbCheckYear'>2007</td>
										</tr>
									</table>
									<hr/>
									<a data-reveal-id='serviceInfo'>
										<table class='twelve'>
											<tr>
												<td>Service Type:</td>
												<td id='dbCheckServiceType'>Mobile</td>
											</tr>
											<tr>
												<td>Location:</td>
												<td id='dbCheckLocation'>18474 south nowhere</td>
											</tr>
										</table>
									</a>
								</div>
								<div class='six columns'>
									<a data-reveal-id='initInfo'>
										<table class='twelve'>
											<tr>
												<td>Name:</td>
												<td id='dbCheckName'>Michael Jeffrey</td>
											</tr>
											<tr>
												<td>Email:</td>
												<td id='dbCheckEmail'>migpok35@gmail.com</td>
											</tr>
											<tr>
												<td>Phone:</td>
												<td id='dbCheckPhone'>(480)-209-5102</td>
											</tr>
										</table>
									</a>
									<hr/>
									<a data-reveal-id='finalInfo'>
										<table class='twelve'>
											<tr>
												<td>Method of Contact:</td>
												<td id='dbCheckContactMethod'>Phone</td>
											</tr>
											<tr>
												<td>Appointment Time:</td>
												<td id='dbCheckAppointmentTime'>Morning: 9am - noon</td>
											</tr>
										</table>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}