<aside>
	<div class='widget'>
		<h2>Login and Register</h2>
		<div class='inner'>
			<form action='#' method='post'</form>
				<ul id='liginUL'>
					<li>
						Username:<br/>
						<input type='text' name='username'/>
					</li>
					<li>
						Password:<br/>
						<input type='password' name='password'/>
					</li>
					<li>
						<input type='submit' value='Log in'/>
					</li>
					<li>
						<a href='/'>Go Home</a>
					</li>
				</ul>
			</form>
		</div>
	</div>
	<div class='widget'>
		<h2>Users</h2>
		<div class='inner'>
			We currently have {{carsAmount}} in the list
		</div>
	</div>
</aside>