{% extends 'layout.html' %}
{% block content %}
{% for post in posts %}
<div class='row'>
	<div class='twelve columns'>
		<div class='row'>
			<div class='six columns centered'>
				<!-- start of the display row -->
				<div class='row collapse'>
					<div class='nine columns'>
						<span class='prefix'>{{post.name}} | {{post.location}}</span>
					</div>
					<div class='three columns'>
						<a href='#' id='{{loop.index}}' class='button expand postfix buttonHiddenInfo {{post.status}}'>{{post.status}}</a>
					</div>
				</div>
			</div>
			<!-- start of the hidden information -->
			<div class='row hiddenInfo' id='{{loop.index}}info' style='display:none;'>
				<div class='twelve columns'>
					<div class='panel'>
						<div class='row'>
							<div class='six columns'>
								<table class='twelve'>
									<tr>
										<td>Quote:</td>
										<td>${{post.quote}}</td>
									</tr>
									<tr>
										<td>Model:</td>
										<td>{{post.make}} {{post.model}}</td>
									</tr>
									<tr>
										<td>Year:</td>
										<td>{{post.year}}</td>
									</tr>
								</table>
								<a>
									<table class='twelve'>
										<tr>
											<td>Service Type:</td>
											<td>{{post.serviceType}}</td>
										</tr>
										<tr>
											<td>Location:</td>
											<td>{{post.location}}</td>
										</tr>
									</table>
								</a>
							</div>
							<div class='six columns'>
								<a>
									<table class='twelve'>
										<tr>
											<td>Name:</td>
											<td>{{post.name}}</td>
										</tr>
										<tr>
											<td>Email:</td>
											<td>{{post.email}}</td>
										</tr>
										<tr>
											<td>Phone:</td>
											<td>{{post.phone}}</td>
										</tr>
									</table>
								</a>
								<a>
									<table class='twelve'>
										<tr>
											<td>Method of Contact:</td>
											<td>{{post.contactMethod}}</td>
										</tr>
										<tr>
											<td>Appointment Time:</td>
											<td>{{post.appointmentTime}}</td>
										</tr>
									</table>
								</a>
							</div>
						</div>
						<div class='row'>
							<div class='eight columns centered text-center'>
								<a href='jobs/Scheduled/{{post._id}}' class='button'>Schedule</a>
								<a href='jobs/Completed/{{post._id}}' class='button'>Completed</a>
								<a href='jobs/Pending/{{post._id}}' class='button'>Pending</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}