<!DOCTYPE html>
<html>
<head>
	<title>AZGCO</title>
	<meta charset="UTF-8">
	<meta name="language" content="english" />
	<link rel="stylesheet" type="text/css" href="/static/css/foundation.css">
	<link rel="stylesheet" type="text/css" href="/static/css/app.css">
	<link rel="stylesheet" type="text/css" href="/static/chosen/chosen.css">
	<script type="text/javascript" src='/static/js/jquery.js'></script>
	<script type="text/javascript" src='/static/js/modernizr.foundation.js'></script>
	<script type="text/javascript" src='/static/js/foundation.min.js'></script>
	<script type="text/javascript" src='/static/js/app.js'></script>
	<script type="text/javascript" src='/static/chosen/chosen.js'></script>
	<script type="text/javascript" src='/static/js/main.js'></script>
</head>
<body>
	<!--
=================================================================
		Header
=================================================================
-->
<div class='row'>
	<div class='twelve columns'>
		<h1><span class='subheader'>Welcome to</span> AZGCO</h1>
	</div>
	<hr/>
</div>
	{% block content %}
	{% endblock %}
</body>
</html>