{% block middle %}
<div class="hero-unit">
        <h1>Here's some questions</h1>
        <hr/>
        <form action='/result' method='post'>
        <label for='make'>What make is it?</label>
        <select id="make" name="make">
			<option>---</option>
		</select>
        <label for='model'>What model is it?</label>
		<select id="model" name="model">
			<option>---</option>
		</select>
		<input type="submit" value='submit'/>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </form>
      </div>
{% endblock %}